<a href="/index">Dashboard</a> |
    <a href="/logout">Logout</a>
    <link rel="stylesheet" href="/style.css">

<!-- profile banane ke liye  -->
          <h3>Profile</h3>
<form method="post">
     <input name="fname" value="<%=user.fname%>"><br>
<input name="lname" value="<%=user.lname%>"><br>
<button>Update</button>

</form>
