<link rel="stylesheet" href="/style.css">

<h3>Signup</h3>
<form method="post">
<input name="fname" placeholder="First Name"><br>

    <input name="lname" placeholder="Last Name"><br>

<input name="email" placeholder="Email"><br>

<input type="password" name="password" placeholder="password"><br>
<button>Signup</button>
</form>
